/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ______________________ @general
*   2.) HEADER _______________________ @header
*   3.) MAIN _________________________ @main
*   4.) FOOTER _______________________ @footer
*
************************************************/

/************************************************
   GENERAL                              @general

   The base styles for the page
   Includes utility class styles
************************************************/
:root {
  --font-main-style: "Poiret One", sans-serif; /* placeholder font */
}
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
html,
body {
   height: 100%;
   width: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
}
main {
   height: 100vh;
   background-color: #f5f5f5;
}
p {
  font-family: var(--font-main-style);
}

/************************************************
   HEADER                                @header

   The styles for the header
************************************************/
h1 {
   font-family: 'Poiret One', cursive;
   font-size: 3rem !important;
   font-weight: 700;
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
 }

/************************************************
   MAIN                                     @main

   The styles for the main content
************************************************/
.hero {
   text-align: center;
   padding: 1em;
   background-color: #FFF;
}
.signup-form {
   padding: 1em;
   margin: 1em auto;
   width: 90%;
   background-color: #FFF;
}

@media screen and (min-width: 700px) {
   .signup-form {
      width: 50%;
      max-width: 1200px;
   }
}

/************************************************
   FOOTER                                 @footer

   The styles for the footer
************************************************/
.footer {
   text-align: center;
}