/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ______________________ @general
*   2.) HEADER _______________________ @header
*   3.) MAIN _________________________ @main
*   4.) FOOTER _______________________ @footer
*
************************************************/

/************************************************
   GENERAL                              @general

   The base styles for the page
   Includes utility class styles
************************************************/
:root {
   --font-main-style: "Poiret One", sans-serif; /* placeholder font */
 }
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 html,
 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }
 main {
    min-height: 100vh;
    background-color: #f5f5f5;
 }
 h1,
 h2,
 .panel-heading {
   font-family: var(--font-main-style);
 }
 h2 {
    font-size: 1.4em !important;
    margin-bottom: 1em !important;
 }
 
 /************************************************
    HEADER                                @header
 
    The styles for the header
 ************************************************/
 h1 {
    font-family: 'Poiret One', cursive;
    font-size: 3rem !important;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
 
 /************************************************
    MAIN                                     @main
 
    The styles for the main content
 ************************************************/
 .hero {
    text-align: center;
    padding: 1em;
    background-color: #FFF;
 }
 .signup-form {
   padding: 1em;
   margin: 1em;
   width: 100%;
   background-color: #FFF;
 }
 .user-form {
    margin: 1em;
    width: 100%;
    background-color: #FFF;
 }
 .user#user-image {
    border-radius: 50%;
    width: 2em;
 }
 .panel-block i {
   padding-right: 1em;
 }
 .back-btn-wrapper {
   background-color:#fafafa
 }
 .details-btn {
   margin-left: 1em;
   margin-right: 1em;
 }
 #user-image {
    border-radius: 50%;
    margin: 1em auto;
    width: 5em;
 }
 #success-msg {
    display: none;
 }
 #panel-msg {
    display: none;
 }
 @media screen and (min-width: 1024px) {
   .signup-form {
      margin: 1em auto;
      width: 50%;
      max-width: 1200px;
   }
 }
 
 /************************************************
    FOOTER                                 @footer
 
    The styles for the footer
 ************************************************/
 .footer {
    margin-top: auto;
 }